.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #668c8a;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 150px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.inputBox {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btns {
  flex-direction: row;
}
.btn {
  border: none;
  margin: 5px; /**/
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #668c8a;
}

.googleBtn {
  background: #668c8a;
  width: 200px;
  margin-left: auto;
}

.joinBtn {
  background: #668c8a;
  width: 100px;
  margin-left: auto;
}
.leaveBtn {
  background: #bd0632;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover {
  background: #39504f;
}
.leaveBtn:hover {
  background: #77041e;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #668c8a;
  text-decoration: none;
  border-bottom: 1px solid #668c8a;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #39504f;
  border-color: #39504f;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 80px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.fakeScreen {
  color: white;
}
